* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* -----Header-----*/
.header nav {
    /* background-color: #000000;  */
}

/*.Pone el logo y el menu ,uno al lado del otro*/

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center
}

/*Botones neon*/
.btn-neon {
    position: relative;
    padding: 15px 30px;
    color: #f70793;
    letter-spacing: 1px;
    font-size: 24px;
    text-decoration: none;
    transition: 2s;

}

.btn-neon:hover {
    background-color: #f70793;
    box-shadow: 0 0 10px #f70793, 0 0 200px #f70793, 0 0 80px #f70793;

}







/*.imagen del logo*/
.header nav a img {

    width: 300px;



}

/* Saca las viñetas del menú - Pone en horizontal las opciones de menu*/
.header nav ul {
    display: flex;
    list-style: none;
    height: 50px;
    align-items: center;


}


.header nav ul li a {
    font-size: 25px;
    text-decoration: none;
    margin: 0 20px;
    padding: 0 10px;
    width: 100vw;
    justify-content: center;
    #efff14box-shadow: 3px 3px 3px 3px rgb(250, 0, 125)
}

.paquetes_titulobanner {
    text-align: center;
}

.seccion1-index h2 {
    color: #f80663;
}

.seccion1-index .articulo1 img {
    width: 500px;
    image-orientation: center;
}

article {
    /* border: 1px solid yellow; */
    margin: 10px;
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
}


/* Pseudoclases */

.header nav ul li a:hover {

    color: rgb(227, 240, 56);
    animation-delay: 2s;
    /* padding: 0 1rem; */
}

/* Modifica estilos del boostrap cards */
.imagenes_cards img {
    width: 550px;
    height: 350px;
}

.card {
    align-items: center;
    justify-content: center;
}

/* -----Main-----*/
/* --Grilla--*/
.container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    /* grid-auto-rows: 1fr; */
    gap: 5px 5px;

    grid-auto-flow: row;
    grid-template-areas:
        "cancun cancun disney disney"
        "cancun cancun disney disney"
        "roma roma africa africa"
        "roma roma africa africa";
    justify-content: center;

}

.cancun {
    text-align: center;
    grid-area: cancun;
    background-image: url('../resources/cancunsi.webp');
    color: white;
    background-size: cover;
}


.disney {
    text-align: center;
    grid-area: disney;
    background-image: url('../resources/disney1.jpg');
    color: white;
    background-size: cover;
}

.roma {
    text-align: center;
    grid-area: roma;
    background-image: url('../resources/romasi.jpg');
    color: white;
    background-size: cover;

}

.africa {
    text-align: center;
    grid-area: africa;
    background-image: url('../resources/africa1.jpg');
    color: white;
    background-size: cover;
}

/* --Carousel de imágenes de pag Alojamientos--*/
.boots-modif-ancho {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;

}

/* --Page destinos - tamaño de video(iframe)--*/
.section_video_contenedor {
    display: flex;
    text-align: center;
    justify-content: center;

}
.contacto_estilo_parrafo{
    text-align: center;
}
.section_video_contenedor iframe {
    width: 300px;
    height: 400px;

}

/* --Page contacto - tamaño de mapa(iframe)-*/
.map_iframe 
{
    display: flex;
    justify-content: center;
   
    
}


/* Footer */
/* Iconos del footer */
.footer {
    background-color: #000000;
    color: white;
    height: 200px;
    text-align: center;

}

.footer ul {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    flex-direction: row-reverse;
    margin: 20px;
    justify-content: center;
}

.footer ul li {
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: 0.1s;


}

.footer ul li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
    left: 0;
    background: #2a2a2a;
    transform-origin: top;
    transform: skew(-41deg);
}

.footer ul li::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: -10px;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
}


.footer ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5em;
    transition: 0.5s;
}

.footer ul li:hover span {
    z-index: 1000;
    box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.05);
    color: #fff;

}

.footer ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

.footer ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

.footer ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

.footer ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

.footer ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 0.2;
}

.footer ul li:nth-child(1):hover span {
    background: #3b5998;
}

.footer ul li:nth-child(2):hover span {
    background: #55acee;
}

.footer ul li:nth-child(3):hover span {
    background: linear-gradient(125deg, #515bd4, #8134af, #dd2a7b, #f58529);
}

.footer ul li:nth-child(4):hover span {
    background: #4dc247;
}

.footer ul li:nth-child(5):hover span {
    background: #007bb5;
}

/* estilo de los iframe */
.section {
    text-align: center;
}

.main__titulos {
    text-align: center;
}

/* Estrategia Responsive: Mobile Last */
@media (max-width:1150px) {

    .header nav a img {
        width: 150px;
    }

    .header nav ul {
        flex-wrap: wrap;
        align-content: center;

    }

    .header nav ul li a {
        /* font-size: 10px; */
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .header .menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-content: flex-end;
        flex-wrap: nowrap;
        justify-content: space-around;

    }


    .header .banner img {

        height: 120px;
        width: 100vw;
    }

    /* Estrategia Responsive: Mobile Last Page Inicio*/
    .container {
        grid-template-columns: 150px;
        grid-template-rows: repeat(4, 150px);
        /* grid-auto-rows: 1fr; */
        gap: 5px 5px;

        grid-auto-flow: row;
        grid-template-areas:
            "cancun "
            "disney"
            "roma"
            "africa";
        justify-content: center;

    }

    /* Estrategia Responsive: Mobile Last Page destino*/
    .section_video_contenedor {
        
        flex-direction: column; 
        
    }
    
}

/* Estrategia Responsive: Mobile Last */
@media (max-width:1150px) {

    .header nav a img {
        width: 150px;
    }

    .header nav ul {
        flex-wrap: wrap;
        align-content: center;

    }

    .header nav ul li a {
        /* font-size: 10px; */
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    .header .menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-content: flex-end;
        flex-wrap: nowrap;
        justify-content: space-around;

    }


    .header .banner img {

        height: 120px;
        width: 100vw;
    }

    /* Estrategia Responsive: Mobile Last Page Index*/
    .container {
        grid-template-columns: 150px;
        grid-template-rows: repeat(4, 150px);
        /* grid-auto-rows: 1fr; */
        gap: 5px 5px;

        grid-auto-flow: row;
        grid-template-areas:
            "cancun "
            "disney"
            "roma"
            "africa";
        justify-content: center;

    }

    /* Estrategia Responsive: Mobile Last Page destino*/
    .section_video_contenedor {
        
        flex-direction: column; 
        
    }
    
}




